.search {display: flex; align-items: center; margin: 30px 0; }
.searchBox {width: 80%;}
.searchBtn {width: 10%;}

.addField {display: flex; flex-direction: column;}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-2 > div > div {padding-bottom: 10px;}