.buttons {display: flex; justify-content: flex-end; margin-bottom: 15px;}
.buttons Button , .addField Button, .searchFeild Button {color: #857f7f;}
.buttons Button:nth-child(1) {margin-right: 10px;}

.searchFeild {display: flex; justify-content: flex-end; margin: 10px 0;}
.searchNickname > div, .searchUrl > div {margin-right: 10px;}

.modalBtn {cursor: pointer;}
.contentImg {width: 100px; height: 100px; }
.modalImg {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.addField > div > div {margin-bottom: 10px;}